body {
  margin: 0;
  padding-bottom: 0px;
  font-family: sans-serif;

}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.navbar.submenu>li{
	background-color: gray;
	font-size: 16px;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  margin-top:100%;
  padding: 2rem;
  color: #9d9d9d;
  background-color: #222;
   /*#efefef;*/
  text-align: center;
}
